<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class="logo-well">
    <object id="logo" type="image/svg+xml" data="./../static/ShiptIt.svg">
      Your browser does not support SVG
    </object>
  </div>
  <div class="backing-well">
<!--    <img src="./../static/ship20_cropped.png"/>-->
    <object id="backing" type="image/svg+xml" data="./../static/ShiptIt.svg">
      Your browser does not support SVG
    </object>
  </div>

  <!-- Main Selector -->
  <div id="main" class="center" style="display: block;">
    <h1>Ship It 2020</h1>
    <h2>Untitled Machine Learning Application</h2>
    <button href="#" class="btn-wrap" onclick="changeModel('Baseball')">
      <span class="btn btn-primary">Baseball/Cricket Decider</span>
    </button>

    <button href="#" class="btn-wrap" onclick="changeModel('Lung')">
      <span class="btn btn-primary">Chest X-Ray Analyzer</span>
    </button>
  </div>

  <div id="content" class='center' style="display: none;">
    <button id="back-button" onclick="changeModel('')">← Back</button>
    <div id="title">Classify Batting Images</div>
    <p id="description">
      Use images of either Baseball or Cricket to truly nail down which one you're looking at
    </p>
    <div class="content">
      <div class="no-display">
        <input id="file-input"
               class="no-display"
               type="file"
               name="file"
               accept="image/*"
               onchange="showPicked(this)">
      </div>
      <button id="choose-file-button" type="button" onclick="showPicker()">Select Image</button>
      <div class="upload-label">
        <label id="upload-label">No file chosen</label>
      </div>
      <div>
        <img id="image-picked" class="no-display" alt="Chosen Image" height="200">
      </div>
      <div class="analyze">
        <button id="analyze-button" id="analyze-Baseball-button" type="button" onclick="analyze()">Go Go Gadget Analyze</button>
      </div>
      <div class="result-label">
        <label id="result-label"></label>
      </div>
      <div class="confidence-label">
        <label id="confidence-label"></label>
      </div>
    </div>
  </div>
</div>
</body>
  <script type="text/javascript">

    let themes = (function() {
      return {
        xray: function() {
          const background = '#000',
                  main = '#FFF',
                  accent = '#939393';
          setTheme(background, main, accent);
        },
        baseball: function() {
          const background = '#FFF',
                  main = '#0D2154',
                  accent = '#E63239';
          setTheme(background, main, accent);
        },
        cricket: function() {
          const background = '#1f4ab7',
                  main = '#ffffff',
                  accent = '#c30036';
          setTheme(background, main, accent);
        },
        outdoor: function () {
          const background = '#0f7012',
                  main = '#ffffff',
                  accent = '#b39954';
          setTheme(background, main, accent);
        },
        shipit: function() {
          const background = '#FFF',
                  main = '#333334',
                  accent = '#FDD725';
          setTheme(background, main, accent);
        }
      }
    })();

    let setTheme = function(background, main, accent) {
      document.body.setAttribute('style', 'background: ' + background + '; color: ' + main);
      let button = document.getElementById('choose-file-button');
      button.setAttribute("style", "background-color: " + main + "; border: solid 1px " + accent + "; color: " + accent);
      button = document.getElementById('analyze-button');
      button.setAttribute("style", "background-color: " + accent + "; border: solid 1px " + accent + "; color: " + main);
      button = document.getElementById('back-button');
      button.setAttribute("style", "background-color: " + accent + "; border: solid 1px " + accent + "; color: " + main);
      let logo = document.querySelector("#logo");
      let backing = document.querySelector("#backing");
      setSvgColor(logo, background, main, accent);
      setSvgColor(backing, background, main, accent);
    };

    let setSvgColor = function(document, background, main, accent) {
      let logoDocument= document.contentDocument;

      let mainPaths = logoDocument.getElementsByClassName('path1');
      let accentPaths = logoDocument.getElementsByClassName('path0');

      for (let i = 0; i < mainPaths.length; i++) {
        mainPaths[i].setAttribute("style", "fill:" + main);
      }

      for (let i = 0; i < accentPaths.length; i++) {
        accentPaths[i].setAttribute("style", "fill:" + accent);
      }
    };

    let changeModel = function(model) {
      window.mlModel = model;

      swapView();

      let theme = 'shipit';
      let headingText = '';
      let description = '';
      let algorithmInformation = '';

      switch(model) {
        case 'Baseball':
          theme = window.enableResultTheme ? 'outdoor' : window.baseballTheme;
          headingText = 'Classify Bat Sport Images';
          description = 'Use images of either Baseball or Cricket to truly nail down which one you\'re looking at';
          algorithmInformation = 'Accuracy achieved - 89.76%';
          break;
        case 'Lung':
          theme = 'xray';
          headingText = 'Identify Lung Ailments';
          description = 'Upload chest X-Rays to identify Pulmonary Fibrosis, Cardiomegaly, Pleural Effusions, Pulmonary Infiltration or Atelectasis.';
          algorithmInformation = 'Accuracy achieved - 79.6%';
          break;
        default:
          theme = 'shipit';
          headingText = '';
          description = '';
          break;
      }

      document.getElementById('title').innerHTML = headingText;
      document.getElementById('description').innerHTML = description;
      themes[theme]()
    };

    let swapView = function(goHome) {
      let mainElement = document.getElementById('main');
      let style = window.getComputedStyle(mainElement);
      if (style.display === 'none') {
        el("image-picked").className = 'no-display';
        el("upload-label").innerHTML = 'No file chosen';
        mainElement.setAttribute("style", "display: block;");
        document.getElementById("content").setAttribute("style", "display: none");
      } else {
        mainElement.setAttribute("style", "display: none;");
        document.getElementById("content").setAttribute("style", "display: block");
      }
    };

    // Added window configurable variables to make the demo editable without deployment
    window.baseballTheme = 'baseball';
    window.enableResultTheme = false;
  </script>
</html>
