body {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Montserrat', sans-serif;
}

.logo-well {
    float: left;
    position: fixed;
}

.logo-well object {
    height: 100px;
    width: 100px;
}

.path0 {
    fill: orange !important;
}

#back-button {
    position: fixed;
    left: 29px;
    top: 110px;
    background: black;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.backing-well {
    z-index: 0;
    position: fixed;
    filter: blur(11px);
    opacity: 0.2;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    margin: 5% auto;
    max-width: 1000px;
}


.img-well img {
    /* height: 133.333px;
    width: 100px; */
    height: 1080px;
    z-index: 0;
}

#image-picked {
    border-radius: 10px;
}

.no-display {
    display: none;
}

/** MAIN **/

#main.center {
    padding-top: 160px;
}

#main.center h1 {
    font-size: 56px;
}

#main.center button {
    border: rgb(58,58,59);
    background: rgba(58,58,59, 0.85);
    color: #fff;
    font-size: 36px;
    padding: 30px;
    display: block;
    margin: 75px auto 0;
}

#main.center button:hover {
    border: rgb(253, 215, 37);
    background: rgba(253, 215, 37, 0.85);
    color: #ffffff;
    cursor: pointer;
}

/** END MAIN **/


/** BEGIN COMMON **/

.center {
    margin: auto;
    padding: 10px 85px;
    text-align: center;
    font-size: 14px;
    position: relative;
}

#title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button#choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #363b17;
    border: solid 1px #4dfd5e;
    font-size: 13px;
    color: #59fd1e;
}

button#analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #fd6591;
    border-radius: 2px;
    background-color: #fd4361;
    font-size: 13px;
    color: #00153b;
}

button:focus {
    outline: 0;
}
